<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @paper.title %>
</p>

<p>
  <strong>Month:</strong>
  <%= @paper.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @paper.year %>
</p>

<p>
  <strong>Address:</strong>
  <%= @paper.address %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @paper.publisher %>
</p>

<p>
  <strong>Url:</strong>
  <%= @paper.url %>
</p>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
