<!DOCTYPE html>
<html>
<head>
  <title>Challenge</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<h1>ACL Digital library</h1>

	<!--<%= form_tag do %>
		<div class="control-group">
		    <div class="controls">
				<%= label_tag(:file, "Choose file: ") %>
				<%= text_field_tag(:file) %>
		    </div>
		 </div>

		 <div class="form-actions">

		 	<%= submit_tag("Search", :class => 'btn btn-primary', :action => "parse", :params => :file) %>
		 </div>
	<% end %>-->
	<% parser("http://aclweb.org/anthology/N/N12/N12.xml") %>
	<% parser("http://aclweb.org/anthology/D/D13/D13.xml") %>
  	<%= yield %>

</div>

</body>
</html>
